@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins;
    background-color: #000;
    color: #eee;
    margin: 0;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #eee;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    margin-right: 40px;
}

/* carousel */
.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position:relative;
}
.carousel .list .items{
    position: absolute;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    inset: 0 0 0 0;
}
.carousel .list .items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .items .content{
    position:absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #000;
}
.carousel .list .items .content .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .items .content .title,
.carousel .list .items .content .topic{
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
}
.carousel .list .items .content .topic{
    color: #f1683a;
}
.carousel .list .items .content .buttons{
    display: grid;
    grid-template-columns: repeat(2,130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .items .content button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.carousel .list .items .content button:nth-child(2){
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;

}
/* thumbnail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
}
.thumbnail .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: bold;
}

/* arrow */
.arrows{
    position: absolute;
    top: 80%;
    right: 62%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    /* font-family: monospace; */
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
    cursor: pointer;
    z-index: 100;

}

.arrows button:hover{
    background-color: #eee;
    color: #555;
}
.carousel .list .items:nth-child(1){
    z-index: 1;
}
.carousel .list .items:nth-child(1) .author,
.carousel .list .items:nth-child(1) .title,
.carousel .list .items:nth-child(1) .topic,
.carousel .list .items:nth-child(1) .description,
.carousel .list .items:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20);
    opacity: 0;
    animation: showContent  0.5s 1s linear 1 forwards;

}
@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    
}
.carousel .list .items:nth-child(1) .title{
    animation-delay: 1.2s;
}
.carousel .list .items:nth-child(1) .topic{
    animation-delay: 1.4s;
}
.carousel .list .items:nth-child(1) .description{
    animation-delay: 1.6s;
}.carousel .list .items:nth-child(1) .buttons{
    animation-delay: 1.8s;
}